@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

a,
a:focus,
input,
input:focus,
button,
button:focus,
select,
select:focus,
textarea,
textarea:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

a, a:hover {
    color: #1a202c;
}


::-webkit-slider-thumb,
input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"] {
    background: #cdd3db;
    cursor: col-resize;
    overflow: hidden;
    padding: 0 5px 0 0 !important;
}

::-webkit-slider-thumb {
    background: #95a1b2;
    border-radius: 3px;
    display: block;
    height: 29px;
    position: relative;
    width: 15px;
}

::-webkit-slider-thumb::before {
    background: #95a1b2;
    bottom: 0;
    content: "";
    display: block;
    left: -300px;
    position: absolute;
    right: 10px;
    top: 0;
}


a {
    text-decoration: none !important;
}

.alert {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.alert-error {
    background-color: #ffedeb;
    border-color: #ffedeb;
    color: #b81800;
}
.alert-success {
    background-color: #f0fdec;
    border-color: #f0fdec;
    color: #1c6c09;
}
.alert-notice {
    background-color: #f0faff;
    border-color: #f0faff;
    color: #005585;
}
.archived {
    background-color: #6c757d !important;

}

.approved {
    background-color: #198754 !important;

}

#avatar .dropdown-menu {
    position: absolute !important;
    min-width: 220px;
}

.avatar-sm {
    border-radius: 50%;
    cursor: pointer;
    height: 38px;
    width: 38px;
    vertical-align: middle;

}

.avatar-md {
    height: 8rem;
    width: 8rem;
    vertical-align: middle;

}

#back-to-top {
    bottom: 25px;
    display: none;
    position: fixed;
    right: 25px;
}

.back-to-top {
    opacity: .65;
    z-index: 9999999;
}
header .bi {
    width: 1em;
    height: 1.1em;
    vertical-align: -.125em;
    fill: currentcolor;
}
[data-bs-theme=dark] .btn-close {
    filter: var(--bs-btn-close-black-filter);
}
.btn-outline {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #ced4da;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #ced4da;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #ced4da;
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ced4da;
    --bs-gradient: none;
}

.container .form-check-input {
    font-size: 1rem;
    font-weight: 400;
    height: 39px;
    line-height: 1.5;
    margin-top: 0;
    padding: 17.6px;
    width: 66px;
}
.container input[type="checkbox"]:active,
.container input[type="checkbox"]:active,
.container input[type="checkbox"]:focus,
.container input[type="checkbox"]:checked ,
.container input[type="checkbox"]:hover{
    border:1px solid #ced4da !important;
    outline:none !important;
}
.container input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../img/close.png) 50% 50% no-repeat;
    cursor: pointer;

}

.container input[type="checkbox"]:checked {
    background: url(../img/check.png) 50% 50% no-repeat;
    cursor: pointer;

}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.fill-light-gray {
    fill: #a0aec0;
}

.image-file-upload input[type="file"] {
    display: none;
}

.icon-square {
    align-items: center;
    border-radius: .55rem;
    display: inline-flex;
    font-size: 1.5rem;
    height: 3rem;
    justify-content: center;
    width: 3rem;
}

.image-file-upload {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#notification .badge {
    font-size: 11px !important;
    top: -2px !important;
}

.progress-sm {
    height: 5px;
}

.sortable {
    list-style-type: none;
}

.sortable li {
    border: 2px solid transparent;
    margin: 10px 0;
    width: 100%;
}

.sortable li.item {
    background: #fff;
    border-radius: 5px;
    color: #6a788d;
    cursor: move;
    margin: 10px 0;
    padding: 7px 14px;
    width: 100%;
}

.sortable li.over {
    border: 2px solid #ccc;
}

.sortable li.moving {
    opacity: 0.7;
}


.user-image-upload input[type="file"] {
    display: none;
}

.text-approved {
    color: #198754;
}
.text-draft  {
    color: #dc3545;
}
.text-pending {
    color: #dc3545;
}
.text-published  {
    color: #198754;
}
.text-spam {
    color: #ffc107;
}
#the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;

}

